@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

div#carddivs {
    position: absolute;
    height: 251px;
    top: 32px;
    left: 17px;
}

div#carddivs img {
    width: 286px;
}

div#versphoto {
    margin-left: 56px;
}

div#frentphoto {
    position: absolute;
    top: 90px;
}


div#textocard {
    position: absolute;
    color: white;
}

div#textovers {
    position: absolute;
    top: 100px;
    left: 300px;
    font-size: 13px;
}

div#textofrontnumber {
    position: absolute;
    top: 200px;
    left: 40px;
    width: 239px;
    font-size: 1.3em;
}

div#textofrontname {
    position: absolute;
    top: 240px;
    left: 40px;
    width: 180px;
    font-size: 13px;
    font-weight: bold;
}

div#textofrontdate {
    position: absolute;
    top: 240px;
    left: 220px;
    width: 80px;
}

div#purpbackg {
    width: 100vw;
    height: 240px;
    background-image: url('../images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    position: absolute;
    margin-top: 61px;
    left: 17px;
    width: 327px;
    height: 328px;
    margin-bottom: 0px;
}

form input {
    margin-bottom: 23px;
    outline: none;
    border: 1px solid #DFDEE0;
    border-radius: 8px;
    width: 327px;
    height: 45px;
    padding: 15px;
}

p.formtext {
    color: #21092F;
    margin-bottom: 12px;
}

div#formexpdate {
    display: flex;
}

div#expdate{
    margin-right: 22px;
}

div#expdate input {
    display: inline-block;
    width: 72px;
    height: 45px;
    padding: 10px;
}

div#cvc input {
    width: 104px;
    height: 45px;

}

form input[type=submit] {
    display: block;
    width: 327px;
    height: 53px;
    background-color: #21092F;
    color: white;
    font-size: 1em;
    margin-bottom: 0px;
}